.PageSlider {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
  overflow: hidden;
}

.PageSlider .BackgroundImage {
  opacity: 0.8;
  position: static;
  height: 52.78rem;
}

.PageSlider .Slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.PageSlider-large {
  padding: 20rem 0;
}

.PageSlider--Title {
  font-size: 5rem;
  margin-bottom: 0;
}

.PageSlider--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageSlider .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageSlider {
    padding: 7rem 0;
  }

  .PageSlider-large {
    padding: 12.5rem 0;
  }
}